{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% for task in tasks %}
        <li>id: {{ task.id }} item: {{ task.item }}</li>
    {% endfor %}
{% endblock %}
{% block stylesheets %}
<style>
</style>
{% endblock %}
