{% extends 'base.html.twig' %}

{% block body %}
<div id="main" class="container-fluid">
    <div class="row flex-items-sm-middle">
        <div class="col-sm"></div>
        <div class="col-sm-8">
            <div class="row flex-items-sm-middle header">
                <div class="col-sm flex-sm-middle">
                    <img src="./wmas-logo.svg" class="logo">
                </div>
            </div>
            <div class="row flex-items-sm-middle form-group">
                <div class="col-sm">
                    <input type="text" class="form-control" id="new-task" placeholder="Enter new task" autofocus="autofocus"/>
                </div>
            </div>
            <div class="row flex-items-sm-middle form-group">
                <div class="col-sm">
                    <button id="create-1" type="button" class="btn btn-secondary left">create</button>
                </div>
                <div class="col-sm">
                    <button id="delete-all" type="button" class="btn btn-danger right">delete all</button>
                </div>
            </div>
            <div class="row flex-items-sm-middle">
                <div class="col-sm">
                    <ul>
                        {% for task in tasks %}
                            <div class="row flex-items-sm-middle form-group task-item">
                                <div class="col-sm">
                                    <li id="{{ task.id }}" class="task-copy">{{ task.item }}</li>
                                </div>
                            </div>
                            <div class="row flex-items-sm-middle form-group">
                                <div class="col-sm button-group button-group-{{ task.id }}">
                                    <button id="edit-{{ task.id }}" type="button" class="btn btn-secondary left">edit</button>
                                </div>
                                <div class="col-sm button-group button-group-{{ task.id }}">
                                    <button id="delete-{{ task.id }}" type="button" class="btn btn-danger right">delete</button>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
<style>
</style>
{% endblock %}

